@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

.navbar-link:hover {
  color: red;
}

.login-link:hover {
  background-color: #ff4444; /* Adjust the color as needed */
}

.uiverse {
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(255, 153, 0, 0.7);
  --c-color-2: #ff0000;
  --c-color-3: #ffea00;
  --c-color-4: rgba(255, 232, 26, .7);
  --c-shadow: rgba(255, 87, 87, 0.5);
  --c-shadow-inset-top: rgba(255, 223, 52, .9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
  --c-radial-inner: #ffcc00;
  --c-radial-outer: #fff172;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
}

.uiverse:before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top), inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  min-width: 110px;
  padding: 12px 0;
}

.uiverse .wrapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.uiverse .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle-1, .uiverse .wrapper .circle.circle-9, .uiverse .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle-3, .uiverse .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .wrapper .circle.circle-5, .uiverse .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .wrapper .circle.circle-2, .uiverse .wrapper .circle.circle-7, .uiverse .wrapper .circle.circle-8, .uiverse .wrapper .circle.circle-11, .uiverse .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.uiverse .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.uiverse .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.uiverse .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.uiverse .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.uiverse .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.uiverse .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.uiverse .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.uiverse .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.uiverse .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.uiverse .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.uiverse .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}

.uiverse:hover span {
  color: rgb(0, 0, 0);
}

.signup-button {
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(255, 153, 0, 0.7);
  --c-color-2: #ff0000;
  --c-color-3: #ffea00;
  --c-color-4: rgba(255, 232, 26, .7);
  --c-shadow: rgba(255, 87, 87, 0.5);
  --c-shadow-inset-top: rgba(255, 223, 52, .9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
  --c-radial-inner: #ffcc00;
  --c-radial-outer: #fff172;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
}

.signup-button:before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top), inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.signup-button .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  min-width: 110px;
  padding: 12px 0;
}

.signup-button .wrapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.signup-button .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.signup-button .wrapper .circle.circle-1, .signup-button .wrapper .circle.circle-9, .signup-button .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.signup-button .wrapper .circle.circle-3, .signup-button .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.signup-button .wrapper .circle.circle-5, .signup-button .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.signup-button .wrapper .circle.circle-2, .signup-button .wrapper .circle.circle-7, .signup-button .wrapper .circle.circle-8, .signup-button .wrapper .circle.circle-11, .signup-button .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.signup-button .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.signup-button .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.signup-button .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.signup-button .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.signup-button .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.signup-button .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.signup-button .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.signup-button .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.signup-button .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.signup-button .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.signup-button .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.signup-button .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}

.signup-button:hover span {
  color: rgb(0, 0, 0);
}

/* Styles for the existing button */
.existing-button {
  background: transparent;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.existing-button span {
  margin: 10px;
}

.existing-button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.existing-button:hover {
  color: #fff;
  border: 1px solid rgb(255, 0, 0);
}

.existing-button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

section.hero{
  @apply grid;
  grid-template-columns: .4fr .6fr ;
}

.button-container {
  display: flex;
  justify-content: center;
}

.custom-button {
  font-family: inherit;
  font-size: 12px;
  background: rgb(245, 124, 0);
  color: rgb(0, 0, 0);
  padding: 0.8em 1em;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.custom-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.custom-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.custom-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.custom-button:hover svg {
  transform: translateX(5.5em) scale(1.1);
}

.custom-button:hover span {
  transform: translateX(12em);
}

.custom-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.2em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 13px;
  color: #000000;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background:  rgb(255, 0, 0);
  box-shadow: 0 0 25px rgb(255, 0, 0);
}

.shadow__btn:hover {
  box-shadow: 0 0 1px rgb(255, 0, 0),
              0 0 5px rgb(255, 0, 0),
              0 0 15px rgb(255, 0, 0),
              0 0 15px rgb(255, 0, 0);
}
body{
  color: #000;
  background-color: #fff;
}

[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type='tel']:disabled,
input[type="date"]:disabled{
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-400;
}
select:disabled {
  @apply bg-gray-300 cursor-not-allowed;
}
button[type='submit'],
button.primary1 {
  @apply flex w-full justify-center gap-2 text-black font-semibold bg-orange-500;
  @apply border border-orange-500 rounded-xl px-6 py-2;
}
button[type="submit"]:disabled, .submit:disabled {
  @apply cursor-not-allowed bg-blue-300;
}



.link1:hover {
  color: red; /* Color changes to orange on hover */
}
section.hero {
  @apply block md:grid rounded-xl; /* Adding rounded corners with Tailwind */
  grid-template-columns: .4fr .6fr; 
  
  text-align: center; /* center text within each grid cell */
}


.justify-center {
  justify-content: center;
}
.save-button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #000000 !important; /* Explicitly ensuring black text */
  width: 26em;
  height: 2em;
  line-height: 1.5em; /* Adjusted to match the height of the button */
  text-align: center; /* Horizontally center the text */
  background: linear-gradient(90deg, #f4d803, #f6760d, #eac418, #febc07);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.save-button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.save-button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #f4c003, #f6760d, #eac418, #febc07);
  background-size: 400%;
  border-radius: 25px;
  transition: 1s;
}

.save-button:hover::before {
  filter: blur(20px);
}

.save-button:active {
  background: linear-gradient(32deg, #f4d803, #f6760d, #eac418, #febc07);
}



.changeimage {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #ff7d03;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  overflow: hidden;
  transition: 0.1s;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
 }
 
 .changeimage:hover {
  box-shadow: 0 0 10px #ffa600, 0 0 25px #ffd000, 0 0 50px #ffe100;
  transition-delay: 0.6s;
 }
 
 .changeimage span {
  position: absolute;
 }
 
 .changeimage span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffc400);
 }
 
 .changeimage:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 .changeimage span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffb700);
 }
 
 .changeimage:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 .changeimage span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 .changeimage:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 .changeimage span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 .changeimage:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 .changeimage:active {
  background: #e9a403;
  background: linear-gradient(to top right, #af6c00, #ffd000);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ffb700, 0 0 8px #ff9900, 0 0 8px #ffae00;
  transition: 0.1s;
 }
 
 .changeimage:active span:nth-child(1),
 .changeimage:active span:nth-child(2),
 .changeimage:active span:nth-child(3),
 .changeimage:active span:nth-child(4) {
  transition: none;
  transition-delay: none;
 }
 
 div.tabs > * {
  @apply bg-gray-300 text-gray-700 rounded-full py-2 px-4;
}

div.tabs > *.active{
  @apply bg-orange-500 text-black;
}

.buttoncategories {
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold bg-orange-500;
  @apply border border-orange-500 rounded-xl px-6 py-2;
}

.buttonmenu {
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold bg-orange-500;
  @apply border border-orange-500 rounded-xl px-6 py-2;
}

.buttoncreatemenu {
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold bg-orange-500;
  @apply border border-orange-500 rounded-xl px-6 py-2;
}

.buttoneditmenu {
  @apply flex w-full justify-center gap-2 text-orange-500 font-semibold bg-gray-300;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}

.buttoncategoriesedit {
  @apply flex w-full  gap-2 text-black font-semibold bg-gray-100;
  @apply border border-gray-100 rounded-xl px-6 py-2;
}

.buttonaddsize {
  @apply flex w-full justify-center gap-2 text-orange-500 font-semibold bg-gray-300;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}

.buttoneditdelete {
  @apply flex w-full justify-center gap-2 text-black font-semibold bg-gray-200;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
.buttoncartdelete {
  @apply  w-full justify-center gap-2 text-black font-semibold bg-gray-200;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
.buttonpay {
  @apply flex w-full justify-center gap-2 text-black font-semibold bg-orange-500;
  @apply border border-orange-500 rounded-xl px-6 py-2;
}

.flying-button-parent button{
  
  font-family: inherit;
  font-size: 12px;
  background: rgb(245, 124, 0);
  color: rgb(0, 0, 0);
  padding: 0.8em 1em;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.flying-button-parent span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.flying-button-parent svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.flying-button-parent:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.flying-button-parent:hover svg {
  transform: translateX(5.5em) scale(1.1);
}

.flying-button-parent:hover span {
  transform: translateX(12em);
}

.flying-button-parent:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.2em);
  }

  to {
    transform: translateY(-0.1em);
  }

}

